name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push to gh-pages branch
      pages: write
    steps:
      - uses: actions/checkout@v5

      # Configure Node.js environment
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'
          cache: 'npm'
      - run: npm ci
      - run: npm test

      # Install Newman and reporters (ou deixe em devDependencies e use npx)
      - name: Install Newman and reporters
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          # Se for usar outros reporters, instale-os aqui:
          # npm install -g newman-reporter-html newman-reporter-csv

      - name: Prepare reports dir
        run: mkdir -p newman

      - name: Run Newman - ServeRest_User
        run: |
          newman run collections/ServeRest_User.postman_collection.json \
            -e environments/serveRest_env.postman_environment.json \
            -r cli,htmlextra,json \
            --reporter-htmlextra-export newman/report-user.html \
            --reporter-json-export newman/report-user.json || true

      - name: Run Newman - ServeRest_ADM
        run: |
          newman run collections/ServeRest_ADM.postman_collection.json \
            -e environments/serveRest_env.postman_environment.json \
            -r cli,htmlextra,json \
            --reporter-htmlextra-export newman/report-adm.html \
            --reporter-json-export newman/report-adm.json || true

      - name: Upload Report Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: newman

      - name: Deploy to GitHub Pages
        if: success()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./newman
