name: Run the test collection of the Serve REST API with newman

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push to gh-pages branch
      pages: write
    steps:
      - uses: actions/checkout@v5

      - name: Prepare reports dir
        run: mkdir -p newman_test_artifacts

      # Configure Node.js environment
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'
      - run: npm ci
      - run: npm test

      # Install Newman and reporters
      - name: Install Newman and reporters
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          # Se for usar outros reporters, instale-os a partir daqui:
          npm install -g newman-reporter-csv
          npm install -g newman-reporter-html

      - name: Run Newman - Serve Rest ADM
        continue-on-error: true
        run: |
          newman run collections/serve_rest_adm.postman_collection.json \
            -e environment/serve_rest.postman_environment.json \
            -r cli,htmlextra,json,csv,html \
            --reporter-htmlextra-export newman_test_artifacts/report-adm-htmlextra.html \
            --reporter-html-export newman_test_artifacts/report-adm-html.html \
            --reporter-csv-includeBody newman_test_artifacts/report-adm.csv \
            --reporter-json-export newman_test_artifacts/report-adm.json

      - name: Run Newman - Serve Rest User
        continue-on-error: true
        run: |
          newman run collections/serve_rest_user.postman_collection.json \
            -e environment/serve_rest.postman_environment.json \
            -r cli,htmlextra,json,csv,html \
            --reporter-htmlextra-export newman_test_artifacts/report-user-htmlextra.html \
            --reporter-html-export newman_test_artifacts/report-user-html.html \
            --reporter-csv-includeBody newman_test_artifacts/report-user.csv \
            --reporter-json-export newman_test_artifacts/report-user.json

      - name: Upload Report Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: newman_test_artifacts

      - name: Deploy to GitHub Pages
        if: success()
        uses: actions/deploy-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./newman_test_artifacts
