name: Run the test collection of the Serve REST API with newman

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v5

      - name: Prepare reports dir
        run: mkdir -p newman_test_artifacts

      # Configure Node.js environment
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'

      # Install Newman and reporters
      - name: Install Newman and reporters
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra
          # Se for usar outros reporters, instale-os a partir daqui:
          npm install -g newman-reporter-csv
          npm install -g newman-reporter-html

      - name: Run Newman - Serve Rest ADM
        id: run_newman_adm
        continue-on-error: true
        run: |
          newman run collections/serve_rest_adm.postman_collection.json \
            -e environment/serve_rest.postman_environment.json \
            -r cli,htmlextra,html,csv,json \
            --reporter-htmlextra-export newman_test_artifacts/report-adm-htmlextra.html \
            --reporter-html-export newman_test_artifacts/report-adm-html.html \
            --reporter-csv-export newman_test_artifacts/report-adm.csv --reporter-csv-includeBody \
            --reporter-json-export newman_test_artifacts/report-adm.json

      - name: Run Newman - Serve Rest User
        id: run_newman_user
        continue-on-error: true
        run: |
          newman run collections/serve_rest_user.postman_collection.json \
            -e environment/serve_rest.postman_environment.json \
            -r cli,htmlextra,html,csv,json \
            --reporter-htmlextra-export newman_test_artifacts/report-user-htmlextra.html \
            --reporter-html-export newman_test_artifacts/report-user-html.html \
            --reporter-csv-export newman_test_artifacts/report-user.csv --reporter-csv-includeBody \
            --reporter-json-export newman_test_artifacts/report-user.json

      - name: Upload Report Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: newman_test_artifacts

      - name: Deploy to GitHub Pages
        id: deployment
        if: ${{ steps.run_newman_adm.outcome == 'success' && steps.run_newman_user.outcome == 'success' }}
        uses: actions/deploy-pages@v4

      # Mostrar a URL nos logs (sempre tenta, mesmo que o deploy tenha sido pulado)
      - name: Show GitHub Pages URL (logs)
        if: always()
        run: |
          echo "GitHub Pages URL: ${{ steps.deployment.outputs.page_url || 'DEPLOY_NOT_RUN_OR_FAILED' }}"
          
