name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push to gh-pages branch
    steps:
      - uses: actions/checkout@v3

      # Config environment
      - name: Install Node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '18'

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Create output directory
        run: mkdir -p newman_test_artifacts

      - name: Run Test
        run: newman run collections/ServeRest.postman_collection.json -e environments/serveRest_env.postman_environment.json -r cli,htmlextra --reporter-htmlextra-export newman_test_artifacts/report.html

      - name: Upload Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: newman_test_artifacts

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./newman_test_artifacts
